/* CCP.css */


.ccp-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: black;
    
  }
  
  .ccp-content {
    flex: 60%;
    text-align: left;
  }
  
  .ccp-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
    font-family: Inter;
    padding: 1rem;
  }
  
  .ccp-content p {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 20px;
    padding: 1rem;
    font-family: Inter;
  }
  
  .join-button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .join-button:hover {
    background-color: #ff9933;
    color: black;
  }
  
  .ccp-vector {
    flex: 50%;
    

    
  }

  .ccp-img {
    width: 100%;
    
  }

  .perks {
      background-color: black;
      margin: 0px;


  }

  .timeline-container {
    background-color: black;
      width: 100%;
      margin: 0px;
    
      
  }
  .whatyouget{
    margin: 0px;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration-line: underline;
    text-decoration: orange !important;
    padding: 5%;
  }


  /* WhatYouWillDo.css */

.what-you-will-do {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    padding: 40px;
  }
  
  .what {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card-container-s {
    display: flex;
    gap: 2rem;
    padding: 5%;
  }
  
  .perk-card {
    flex: 50%;
    background-color: orange; /* Orange background */
    color: #fff; /* White text color */
    border-radius: 8px;
    padding: 5%;
    margin-right: 20px;
    text-align: center;
    

  }
  
  .perk-card:last-child {
    margin-right: 0; 
  }
  
  .perk-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 3%;
  }
  
  

  

  